.top-logo-fix img{
    height: 40px;
    width: 250px;
    position: relative;
    left: 10px;
}
.border-removal{
    border: 0;
}


.remove-line{
    border: 0;
    background-color: white;

}
.shopping-logo img{
    height: 35px;
    width: 35px;
}

.icon-resize img{
    height: 70px;
    width: 70px;
    position: relative;
    left: 50px;
}
.footer-radius{
    border-radius:20px;
}
.fix-padding{
    padding-top: 8em;
}
.create-space{
    margin-top: 3em;
}
.bottom-fix{
    padding-top: 3em;
}
.fix-navbar{
    padding-right: 10em;
}